<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <!-- Head Partial -->
    <%- include('partials/head'); %>

    <title>استمارات الباحث الاجتماعي</title>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/sidebar.jpg">

      <!-- Logo -->
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
        استمارات الباحث الاجتماعي
        </a>
      </div>

      <!-- Sidebar Partial -->
      <%- include('partials/admin-sidebar'); %>

    </div>
    <div class="main-panel">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <p class="navbar-brand">مستخدمي النظام</p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%- include('partials/messages'); %>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">قائمة مستخدمي النظام</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>الرقم الوظيفي</th>
                        <th>الاسم</th>
                        <th>رقم الهاتف</th>
                        <th>البريد الالكتروني</th>
                        <th>الفئة</th>
                        <th>ادارة المستخدم</th>
                      </thead>
                      <tbody>
                        <% if(users != null) { %>
                        <% users.forEach(u => {%>
                          <tr>
                            <td><%= u.id %></td>
                            <td><%= u.name %></td>
                            <td><%= u.phone %></td>
                            <td><%= u.email %></td>
                            <td>
                              <% if(u.type === 'A') { %>مسؤول النظام<% } %>
                              <% if(u.type === 'M') { %>مدير البحث الاجتماعي<% } %>
                              <% if(u.type === 'R') { %>الباحث الاجتماعي<% } %>
                            </td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  <i class="material-icons">settings</i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/update-user/<%= u.id %>"">تعديل</a>
                                  <a class="dropdown-item" href="/delete-user/<%= u.id %>" onclick="confirm('هل انت متاكد من حذف المستخدم؟')">حذف</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% });} else { %>
                          <tr>
                            <th colspan="4" class="text-center">لا توجد بيانات مسجلة</th>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <a href="/add-user" class="btn btn-primary" role="button">اضافة مستخدم جديد</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer partial -->
        <%- include('partials/footer'); %>
      </div>
    </div>

    <!-- Bottom Partial -->
    <%- include('partials/bottom'); %>
</body>

</html>
