<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item <%= pages.home %>">
      <a class="nav-link" href="/manager-home">
        <i class="material-icons">dashboard</i>
        <p>الرئيسية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.profile %>">
      <a class="nav-link" href="/manager-profile">
        <i class="material-icons">person</i>
        <p>الصفحة الشخصية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.disaster %>">
      <a class="nav-link" href="/manager-disaster-form">
        <i class="material-icons">flash_on</i>
        <p>الكوارث الطبيعية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.mazyoona %>">
      <a class="nav-link" href="/manager-mazyoona-form">
        <i class="material-icons">place</i>
        <p>المزيونة</p>
      </a>
    </li>
    <li class="nav-item <%= pages.rescue %>">
      <a class="nav-link" href="/manager-rescue-form">
        <i class="material-icons">spa</i>
        <p>الاستمارات الاغاثية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.general %>">
      <a class="nav-link" href="/manager-general-form">
        <i class="material-icons">public</i>
        <p>الاستمارات العامة</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="material-icons">exit_to_app</i>
        <p>تسجيل الخروج</p>
      </a>
    </li>
  </ul>
</div>